<nav class="bg-pink-400">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex-shrink-0">
        <a href="/" class="text-white font-bold text-xl">Laptops</a>
      </div>
      <div class="ml-10 flex items-baseline space-x-4">
          <a href="/" class="text-white hover:text-pink-200 font-medium">Home</a>
          <%= link_to "Favorites", favorite_items_index_path, class:"text-white hover:text-pink-200 font-medium"%>
          <%= link_to "Comparing", laptop_compare_index_path, class:"text-white hover:text-pink-200 font-medium"%>
      </div>
      <div>
        <%= form_tag laptops_path, method: :get do %>
          <%= text_field_tag :query, params[:query], placeholder: "Search laptops", class: 'bg-pink-200 border border-pink-600 rounded mr-2' %>
          <%= submit_tag "Search", class: 'text-white hover:text-pink-200 font-medium' %>
        <% end %>
      </div>
    </div>
  </div>

</nav>
