<div class="w-fit inline-block m-3 h-max">
<div class="bg-pink-400 text-white py-2 px-4 rounded-t-lg rounded-b-none">
    <h2 class="text-xl font-bold"><%= laptop.model %></h2>
  </div>
  <div id="<%= dom_id laptop %>" class="bg-white shadow-lg rounded-lg overflow-hidden">
    <div class="flex flex-col md:flex-row px-6 py-4">
      <div class="flex-1 pr-4">
        <p class="my-2 text-gray-600 text-sm">
          Company:
        </p>
        <p class="my-2 text-gray-800 font-medium">
          <%= laptop.company %>
        </p>
      </div>
      <div class="flex-1 pl-4 border-l md:border-l-0">
        <p class="my-2 text-gray-600 text-sm">
          Year:
        </p>
        <p class="my-2 text-gray-800 font-medium">
          <%= laptop.year %>
        </p>
        <p class="my-2 text-gray-600 text-sm">
          Price:
        </p>
        <p class="my-2 text-gray-800 font-medium">
          <%= laptop.price %>
        </p>
      </div>
    </div>
    <% if action_name != "show" %>
      <div class="flex justify-between px-6 py-4 bg-white">
        <%= link_to "Show this laptop", laptop, class: "rounded-lg py-3 px-5 bg-white inline-block font-medium text-pink-600 hover:bg-gray-200" %>
        <%= link_to 'Edit this laptop', edit_laptop_path(laptop), class: "rounded-lg py-3 px-5 bg-white inline-block font-medium text-pink-600 hover:bg-gray-200 ml-2" %>
      </div>
      <div class="flex justify-around px-6 py-4 bg-white">
        <% if @favorites.include?(laptop)%>
          <%= button_to 'Remove from favorites', remove_from_favorites_path(laptop), method: :delete,  class:"bg-pink-600 hover:bg-pink-700 text-white font-semibold py-2 px-4 border border-pink-600 rounded" %>
        <% else %>
          <%= button_to 'Add to favorites', add_to_favorites_path(laptop.id), class:"bg-pink-600 hover:bg-pink-700 text-white font-semibold py-2 px-4 border border-pink-600 rounded" %>
        <% end %>
      </div>
      <div class="flex justify-around px-6 py-4 bg-white">
        <% if @comparing_laptops.include?(laptop)%>
          <%= button_to 'Remove from comparing', remove_from_comparing_path(laptop), method: :delete,  class:"bg-pink-600 hover:bg-pink-700 text-white font-semibold py-2 px-4 border border-pink-600 rounded" %>
        <% else %>
          <%= button_to 'Add to comparing', add_to_comparing_path(laptop.id), class:"bg-pink-600 hover:bg-pink-700 text-white font-semibold py-2 px-4 border border-pink-600 rounded" %>
        <% end %>
      </div>
      <%# <hr class="mt-2"> %>
    <% end %>
  </div>
</div>
